node_modules/
.env
.env.local
.env.*.local
.DS_Store

# hardhat
contracts/cache/
contracts/artifacts/
contracts/typechain-types/
contracts/coverage/
contracts/coverage.json

# next
web/.next/
web/out/
web/build/
web/next-env.d.ts
web/tsconfig.tsbuildinfo
contracts/tsconfig.tsbuildinfo

# misc
*.log
.vscode/
.idea/
deployments-localhost.json
